
<div>
	<div><h1>飲食店の景気回復救世主
【MessiYah–メシヤ–】</h1></div>
	<div>
		<h2>［お店を貸したい］</h2>
		<P>お店の閉店時間や定休日を貸して固定収入（キャッシュフロー）を得ませんか？そしてそれが誰かの夢の実現の手助けになります。</P>
	</div>
	<div>
		<h2>［お店を借りたい］</h2>
        <P>お店の閉店時間や定休日を借りて自分のお店をオープンしませんか？そしてそれがそのお店の負担を減らす手助けになります</P>
	</div>
	<div>
		<p>メシヤ（MessiYah）は不景気に悩む飲食店主様と、お店を出したい個人様の救世主となるべく創られたマッチングサイトです。
        現役東大生と元飲食店経営者が不景気の日本、とりわけ個人事業主の力になれれば立ち上げました。</p>
    </div>
</div>
<div>
  <h1>検索</h1>
</div>
<%= render 'about/about' %>